@media (max-width:992px) {
  .menu-overlay {
    z-index:4 !important;
  }
  .title-page {
    position:relative !important;
    left:auto !important;
    top:auto !important;
    transform:none !important;
    margin-top:50px;
    margin-bottom:50px;
  }
}