<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Strona która pomożę ci stracić na wadzę">
        <meta name="keywords" content="Ruch, Siłownia, Kalistenia, Dieta">
        <meta name="author" content="Mateusz Prendki - BlackWolf">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rusz Się - {% block title %} ??? {% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/site.css') }}"/>
        {% endblock %}
    </head>
    <body>
        <section id="app">
            {% block body %}{% endblock %}
        </section>
        {% block javascripts %}
            <script src="{{ asset('build/site.js') }}"></script>
        {% endblock %}
    </body>
</html>