<template>
    <app-page class-name="exercise-types">
        <left-box-home></left-box-home>
        <right-box-home></right-box-home>
    </app-page>
</template>
<script>
    import LeftBoxHome from "./partials/left-box-home";
    import RightBoxHome from "./partials/right-box-home";
    import AppPage from "../../partials/app-page";

    export default {
        name: "exercise",
        components: {AppPage, RightBoxHome, LeftBoxHome},
        props : {
            page_name : {
                default : "404"
            },
            exercise : {}
        },
        mounted() {
            this.$store.commit("base/setPageName",this.page_name);
            this.$store.commit("page/setPageDataObject",this.exercise);
        }
    }
</script>
<style lang="scss" scoped>

</style>
