<template>
    <left-box>
        <section class="f-c-black section-left-content">
            <h1 class="f-st-upper f-w-bolder mt-4 o-after-separator-black">Coś o ćwiczeniu</h1>
            <section v-if="getPageDataObject.active" v-html="getPageDataObject.active.text"></section>
        </section>
    </left-box>
</template>

<script>
    import LeftBox from "../../../partials/left-box";
    import BackgroundEffect from "../../../partials/background-effect";

    export default {
        name: "left-box-home",
        components: {LeftBox},
        computed: {
            exercise_type() {
                return this.$store.getters["exercise/getExerciseTypes"];
            },
            getPageDataObject() {
                return this.$store.getters["page/getPageDataObject"];
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../../../css/colors";

</style>