<template>
    <right-box>
        <h2 class="f-c-white f-w-bolder f-st-upper">{{page_name}}</h2>

        <template v-if="getPageDataObject.active">
            <h4 class="mt-5 f-c-white f-st-upper font-weight-light">Krok</h4>
            <p class="f-c-white font-weight-light">{{getPageDataObject.active.step}}</p>
            <h4 class="mt-5 f-c-white f-st-upper font-weight-light">Próg przejścia do następnego ćwiczenia</h4>
            <p class="f-c-white font-weight-light">{{getPageDataObject.active.threshold}}</p>
            <h4 class="mt-5 f-c-white f-st-upper font-weight-light">Zdjęcia ćwiczenia</h4>
            <template v-for="photo in getPageDataObject.active.photos">
                <img :src="'/uploads/'+photo.name" class="img-fluid mt-2"/>
            </template>
        </template>

        <template v-if="getPageDataObject.next">
            <a :href="'/cwiczenia/'+getPageDataObject.next.exerciseType.name+'/'+getPageDataObject.next.name"
               class="button dark f-st-upper mt-3">Następne ćwiczenie</a>
        </template>
        <template v-else>
            <a class="button dark f-st-upper mt-3" :disabled="getPageDataObject.next ==null">Brak następnych
                ćwiczeń</a>
        </template>
        <template v-if="getPageDataObject.previous">
            <a
               :href="'/cwiczenia/'+getPageDataObject.previous.exerciseType.name+'/'+getPageDataObject.previous.name"
               class="button dark f-st-upper mt-3">Poprzednie ćwiczenie</a>
        </template>
        <template v-else>
            <a class="button dark f-st-upper mt-3">Brak poprzednich ćwiczeń</a>
        </template>




    </right-box>
</template>

<script>
    import RightBox from "../../../partials/right-box";
    import VanillaTilt from "vanilla-tilt";

    export default {
        name: "right-box-home",
        components: {RightBox},
        computed: {
            page_name() {
                return this.$store.getters["base/getPageName"];
            },
            getPageDataObject() {
                return this.$store.getters["page/getPageDataObject"];
            },
            page() {
                return this.$store.getters["page/getPageDataObject"];
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import "../../../../../css/colors";

    h2 {
        &:after {
            width: 50px;
            height: 7px;
            background-color: #fff;
            content: ' ';
            display: block;
            margin-top: 15px;
        }
    }


    .box-element {
        width: 250px;
        height: 300px;
        max-width: 100%;
        background-color: $black;
        transition: 0.3s;
        box-shadow: 0px 0px 10px 0px $grey;
        cursor: pointer;
        border-radius: 0px;

        &:hover {
            transform: scale(1.1);
        }

        span {

        }
    }
</style>