<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">Kategorie</li>
            {#<li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li>#}
            {#<li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>#}
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>Ćwieczenia</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('admin_exercise_create') }}">Dodaj ćwiczenie</a></li>
                    <li><a href="{{ path('admin_exercise') }}">Lista Ćwiczeń</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>Typy ćwiczeń</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('admin_exercise_type_create') }}">Dodaj nowy typ</a></li>
                    <li><a href="{{ path('admin_exercise_type') }}">Lista typów ćwiczeń</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>Strony</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('admin_page_create') }}">Dodaj nową stronę</a></li>
                    <li><a href="{{ path('admin_pages') }}">Lista stron</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>Diety</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Dodaj nową dietę</a></li>
                    <li><a href="#">Lista diet</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>Porady</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Dodaj nową poradę</a></li>
                    <li><a href="#">Lista porad</a></li>
                </ul>
            </li>
            <li class="header">Zarządzanie panelem</li>
            <li><a href="/admin/logout"><i class="fa fa-link"></i> <span>Wyloguj</span></a></li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>