<template>
    <section class="root h-100 w-100 overflow-hidden">
        <a href="/" class="circle-link d-flex align-items-center text-center">
            <logo color="#151514"></logo>
        </a>
        <section class="home d-flex justify-content-between">
            <a href="/cwiczenia" class="skew-link left ">
                <div class="contain d-flex align-items-center">
                    <p class="title-text f-c-black"><span>Zacznij</span><br/> ćwiczyć</p>
                </div>
            </a><!--
        --><a href="#" class="skew-link right">
            <div class="contain d-flex align-items-center">
                <p class="title-text text-right"><span>Sprawdź</span><br/> ćwiczenia</p>
            </div>
        </a>
        </section>
    </section>
</template>
<script>
    import Logo from "../../svg/logo";
    export default {
        name: "home-modal",
        components: {Logo}
    }
</script>
<style lang="scss" scoped>
    @import "../../../../css/colors";

    .circle-link {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 200px;
        z-index: 1;
        transition: 0.3s;
        &:hover {
            width: 220px;
            height: 220px;
        }
    }

    .title-text {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 4vw;
        text-decoration: none;
        width: 100%;
        padding: 0px 15px;
        transition: 0.3s;
        line-height: 1;
        &:hover {
            text-decoration: none;
        }
        span {
            font-size: 2vw;
        }
    }

    .home {
        height: 100%;
        width: 110%;
        transform: translate(-4.7%);
        background-color: $dark-grey;
    }

    .skew-link {
        background-color: #000;
        height: 100%;
        width: 50%;
        position: relative;
        display: inline-block;
        color: #fff;
        transform: skew(-10deg);
        .contain {
            transform: skew(10deg);
            display: flex;
            height: 100%;
            padding-left: 10%;
            padding-right: 10%;
            width: 100%;
            position: absolute;
        }
        &.left {
            background-color: $white;
            width: 50%;
            &:hover {
                p {
                    color: $dark-red;
                    letter-spacing:3px;
                }
            }
        }
        &.right {
            width: 50%;
            background-color: $dark-grey;
            &:hover {
                p {
                    color: $dark-red;
                    letter-spacing:3px;
                }
            }
        }
    }
</style>