.button {
  &.dark {
    border-radius:0px;
    padding:15px;
    color:#fff;
    display:block;
    background-color:$black;
    text-align:center;
    transition:0.3s;
    &:hover{
      background-color:#fff;
      color:$black;
    }
  }
  &[disabled]{
    background-color:$grey !important;
    color:$silver !important;
    cursor:not-allowed;
  }
}