.h-m-100 {
  min-height:100%;
}
.overflow-x-hidden {
   overflow-x: hidden;
 }
.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow-hidden {
  overflow: hidden;
}


@include o-after-separator("black",$black);