@import "../colors";

//colors
.f-c-white {
  color:$white;
}
.f-c-black {
  color:$dark-grey;
}
.f-c-silver {
  color:$grey;
}
.f-c-red {
  color:$red;
}
//Weight
.f-w-bold {
  font-weight:bold;
}
.f-w-bolder {
  font-weight:900;
}
.f-w-light {
  font-weight : 300;
}
.f-w-normal {
  font-weight:400;
}
.f-w-lightest {
  font-weight:300;
}
//Style
.f-st-upper {
  text-transform:uppercase;
}
.f-st-underline {
  text-decoration: underline;
}
.f-st-normal {
  text-decoration: none !important;
}
.f-st-shadow-grey {
  text-shadow :1px 1px 0px $dark-grey;
}
.f-st-line-height {
  line-height:1.1;
}
//size
.f-s-normal {
  font-size:1rem;
}
.f-s-small {
  font-size:0.8rem;
}
.f-s-smallest {
  font-size:0.6rem;
}
.f-s-big {
  font-size:1.2rem;
}
.f-s-bigger {
  font-size: 1.5rem;
}
.f-s-biggest {
  font-size:2rem;
}
