@import "../colors";

.circle-link {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #ffffff;
  text-align: center;
  transition: 0.3s;
  border: 10px solid $dark-grey;
  overflow: hidden;
}