.section-left-content {
  padding-left:95px;
  padding-bottom:50px;
}
.box-element {
  width: 250px;
  height: 300px;
  max-width: 100%;
  background-color: $black;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px $grey;
  cursor: pointer;
  border-radius: 0px;
  background-size:cover;
  background-position:center;
  position:relative;
  &:before {
    position:absolute;
    z-index:1;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    display:block;
    content:' ';
    background-color:rgba(12,12,12,0.97);
  }
  &:hover {
    transform: scale(1.1);
  }

  span {
    position:relative;
    z-index:2;
  }
}