<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/admin.css') }}"/>

        {% endblock %}
    </head>
    <body class="skin-blue sidebar-mini {% block body_class %}{% endblock %}" style="height: auto; min-height: 100%;">
        <section id="admin">
            {% block body %}{% endblock %}
        </section>
        {% block javascripts %}
            <script src="{{ asset('build/admin.js') }}"></script>
        {% endblock %}
    </body>
</html>