<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/admin.css') }}"/>

    {% endblock %}
</head>
<body class="skin-blue sidebar-mini {% block body_class %}{% endblock %}" style="height: auto; min-height: 100%;">
<section id="admin">
    <div class="wrapper" style="height: auto; min-height: 100%;">
        {% include "admin/partials/_header.html.twig" %}
        <!-- Left side column. contains the logo and sidebar -->
        {% include "admin/partials/_sidebar.html.twig" %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: 846px;">
            {% block body %}{% endblock %}
        </div>
        {% include "admin/partials/_footer.html.twig" %}

        <div class="control-sidebar-bg"></div>
    </div>
</section>
<script src="/dist/js/admin-lte/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/dist/js/admin-lte/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/dist/js/admin-lte/dist/js/adminlte.min.js"></script>
<script src="/dist/js/admin-lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script src="{{ asset('build/admin.js') }}"></script>
<script>
    $('.textarea').wysihtml5()
</script>
{% block javascripts %}{% endblock %}
</body>
</html>