<template>
    <left-box scroll="true">
        <section class="f-c-black section-left-content">
            <h1 class="f-st-upper f-w-bolder mt-4 o-after-separator-black">Coś o ćwiczeniu : {{exercise_type.name}}</h1>
            <section class="text mt-3" v-html="exercise_type.description"></section>
            <hr v-if="exercise_type.partsDescription"/>
            <section class="text" v-html="exercise_type.partsDescription"></section>
        </section>
    </left-box>
</template>

<script>
    import LeftBox from "../../../partials/left-box";
    import BackgroundEffect from "../../../partials/background-effect";

    export default {
        name: "left-box-home",
        components: {LeftBox},
        computed: {
            exercise_type() {
                return this.$store.getters["exercise/getExerciseTypes"];
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../../../css/colors";

</style>