<template>
    <right-box>
        <h2 class="f-c-white f-w-bolder f-st-upper">{{page_name}}</h2>
        <div class="row">
            <div class="col-lg-6 mt-4" v-for="exercise in exercise_type.exercises">
                <a :href="'/cwiczenia/'+exercise_type.name+'/'+exercise.name">
                    <div ref="tilt" class="w-100 text-center">
                        <template v-if="exercise.photos.length > 0">
                            <div class="box-element d-inline-flex align-self-center align-items-center justify-content-center p-3"
                                 :style="'background-image:url(/uploads/'+exercise.photos[0].name+')'">
                                <span class="f-c-white f-w-bolder f-st-upper f-s-bigger">{{exercise.name}}</span>
                            </div>
                        </template>
                        <template v-else>
                            <div class="box-element d-inline-flex align-self-center align-items-center justify-content-center p-3">
                                <span class="f-c-white f-w-bolder f-st-upper f-s-bigger">{{exercise.name}}</span>
                            </div>
                        </template>
                    </div>
                </a>
            </div>
        </div>
        <a href="/cwiczenia" class="button dark f-st-upper mt-3">Wróć do typów ćwiczeń</a>
    </right-box>
</template>

<script>
    import RightBox from "../../../partials/right-box";
    import VanillaTilt from "vanilla-tilt";

    export default {
        name: "right-box-home",
        components: {RightBox},
        computed: {
            page_name() {
                return this.$store.getters["base/getPageName"];
            },
            exercise_type() {
                return this.$store.getters["exercise/getExerciseTypes"];
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import "../../../../../css/colors";

    h2 {
        &:after {
            width: 50px;
            height: 7px;
            background-color: #fff;
            content: ' ';
            display: block;
            margin-top: 15px;
        }
    }

    ul {
        li:nth-child(even) {
            margin-left: -30px;
        }

        li:nth-child(odd) {
            margin-right: -30px
        }
    }


</style>