<template>
    <left-box scroll="true">
        <section class="f-c-black section-left-content">
            <h1 class="f-st-upper f-w-bolder mt-4 o-after-separator-black">{{page_data_object.name}}</h1>
            <section class="text" v-html="page_data_object.text"></section>

        </section>
    </left-box>
</template>
<script>
    import LeftBox from "../../../partials/left-box";
    import BackgroundEffect from "../../../partials/background-effect";

    export default {
        name: "left-box-home",
        components: {BackgroundEffect, LeftBox},
        computed: {
            page_data_object() {
                return this.$store.getters["page/getPageDataObject"];
            }
        }
    }
</script>


<style lang="scss" scoped>
    @import "../../../../../css/colors";

</style>