<template>
    <right-box>
        <h2 class="f-c-white f-w-bolder f-st-upper">{{page_name}}</h2>
        <ul class="d-block p-0">
            <li class="d-block p-0" v-for="exercise in exercise_types">
                <a :href="'/cwiczenia/'+exercise.name">
                    <div ref="tilt" class="w-100 text-center mt-3">
                        <template v-if="exercise.photo">
                            <div class="box-element d-inline-flex align-self-center align-items-center justify-content-center p-3"
                                 :style="'background-image:url(/uploads/'+exercise.photo.name+')'">
                                <span class="f-c-white f-w-bolder f-st-upper f-s-bigger">{{exercise.name}}</span>
                            </div>
                        </template>
                        <template v-else>
                            <div class="box-element d-inline-flex align-self-center align-items-center justify-content-center p-3">
                                <span class="f-c-white f-w-bolder f-st-upper f-s-bigger">{{exercise.name}}</span>
                            </div>
                        </template>
                    </div>
                </a>
            </li>
        </ul>

    </right-box>
</template>

<script>
    import RightBox from "../../../partials/right-box";
    import VanillaTilt from "vanilla-tilt";

    export default {
        name: "right-box-home",
        components: {RightBox},
        computed: {
            page_name() {
                return this.$store.getters["base/getPageName"];
            },
            exercise_types() {
                return this.$store.getters["exercise/getExerciseTypes"];
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import "../../../../../css/colors";

    h2 {
        &:after {
            width: 50px;
            height: 7px;
            background-color: #fff;
            content: ' ';
            display: block;
            margin-top: 15px;
        }
    }

    ul {
        li:nth-child(even) {
            margin-left: -130px;
        }

        li:nth-child(odd) {
            margin-right: -130px
        }
    }

    .box-element {
        width: 250px;
        height: 300px;
        max-width: 100%;
        background-color: $black;
        transition: 0.3s;
        box-shadow: 0px 0px 10px 0px $grey;
        cursor: pointer;
        border-radius: 0px;
        background-size:cover;
        background-position:center;
        position:relative;
        &:before {
            position:absolute;
            z-index:1;
            left:0px;
            top:0px;
            width::100%;
            height:100%;
            display:block;
            content:' ';
            background-color:rgba(12,12,12,0.97);
        }
        &:hover {
            transform: scale(1.1);
        }

        span {
            position:relative;
            z-index:2;
        }
    }
</style>