<template>
    <left-box>
        <background-effect></background-effect>
        <h1 class="w-100 f-w-bolder f-st-upper f-c-black text-center title-page">Rusz się<br /> buraku</h1>
    </left-box>
</template>

<script>
    import LeftBox from "../../../partials/left-box";
    import BackgroundEffect from "../../../partials/background-effect";
    export default {
        name: "left-box-home",
        components: {BackgroundEffect, LeftBox}
    }
</script>

<style lang="scss" scoped>
    @import "../../../../../css/colors";

    h1 {
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        font-size:8vw;
        text-shadow:0px 0px 2px $white;
        z-index:1;
    }
</style>