<template>
    <right-box>
        <h2 class="f-c-white f-w-bolder f-st-upper">{{page_name}}</h2>
        <!--<p class="f-c-white f-w-light mt-3 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
        <h4 class="f-c-white f-w-bold mt-4 f-s-upper">{{page_data_object.name}}</h4>
        <section v-html="page_data_object.text" class="f-c-white f-w-light mt-3 text-justify"></section>
    </right-box>
</template>

<script>
    import RightBox from "../../../partials/right-box";
    export default {
        name: "right-box-home",
        components: {RightBox},
        computed : {
            page_name() {
                return this.$store.getters["base/getPageName"];
            },
            page_data_object() {
                return this.$store.getters["page/getPageDataObject"];
            }
        }
    }
</script>

<style lang="scss" scoped>
 h2 {
     &:after {
         width:50px;
         height:7px;
         background-color:#fff;
         content: ' ';
         display:block;
         margin-top:15px;
     }
 }
</style>