<template>
    <div>
        kupa kupa dupa : {{test}} <i class="fab fa-accessible-icon"></i>
    </div>
</template>

<script>
    export default {
        name: "app-test",
        data() {
            return {
                test : "test"
            }
        }
    }
</script>