@mixin o-after-separator($name,$color) {
  .o-after-separator-#{$name} {
    &:after {
      width: 50px;
      height: 7px;
      background-color: $color;
      content: ' ';
      display: block;
      margin-top: 15px;
    }
  }
}