@import "./modules";
@import "../colors";
@import "../global/fonts";




//.skin-blue .main-header .navbar .sidebar-toggle:hover {
//  background-color: $red;
//}
//
//.skin-blue .main-header .navbar{
//  background-color: $dark-red !important;
//}
//.sidebar-mini.sidebar-collapse .main-header .logo {
//  background-color:red;
// /* background-image: url('/public/images/logo.png');*/
//}
//
//.skin-blue .sidebar-menu>li.active>a {
//  border-left-color: $red;
//  background-color: $dark-grey;
//}
//.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
//  background-color: $dark-grey;
//}
//.skin-blue .sidebar-menu>li.header {
//  background: $grey;
//  color: $white
//}
//
//.skin-blue .sidebar-menu>li:hover>a {
//background-color: $silver;
//  }
//.skin-blue .sidebar-menu>li>.treeview-menu {
//  background-color: $dark-grey;
//}
//.content-header > .breadcrumb {
//  background-color: $white;
//}
//.skin-blue .sidebar-menu>li.menu-open>a {
//  background-color: $dark-grey;
//}