<template>
    <transition name="fade">
        <section class="menu-overlay w-100 h-100" v-if="isActive">
            <app-nav v-if="mobile"></app-nav>
            <ul class="nav-list">
                <li>
                    <a href="/cwiczenia" class="f-s-big f-c-white f-w-bolder f-st-upper">ćwiczenia</a>
                </li>
                <li>
                    <a href="#" class="f-s-big f-c-white f-w-bolder f-st-upper" disabled>dieta<sup>wkrótce</sup></a>
                </li>
                <li>
                    <a href="#" class="f-s-big f-c-white f-w-bolder f-st-upper" disabled>porady<sup>wkrótce</sup></a>
                </li>
            </ul>
        </section>
    </transition>
</template>

<script>
    import AppNav from "../app-nav";
    export default {
        name: "nav-box",
        components: {AppNav},
        computed: {
            isActive() {
                return this.$store.getters["base/getMenuActive"];
            }
        },
        methods : {
            checkMobile() {
              return window.innerWidth < 992;
            },
            handleResize() {
                this.mobile = this.checkMobile();
            }
        },
        data() {
            return {
              mobile : false
            };
        },
        created() {
            this.handleResize();
            window.addEventListener('resize', this.handleResize)
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../../css/colors";

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }
    a[disabled] {
        color:$grey !important;
    }
    sup {
        font-size:26px;
    }
    .menu-overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom left, $dark-grey, rgba(20,20,20,0.9));
        z-index: 3;
        .nav-list {
            display:block;
            padding-left:0px;
            position:absolute;
            top:50%;
            margin-left:30px;
            transform:translateY(-50%);
            li {
                display:block;
                a {
                    font-size:62px;
                    transition:0.3s;
                    text-shadow:2px 2px 0px $dark-grey;
                    &:hover {
                        color:$red;
                        letter-spacing:3px;
                    }
                }
            }
        }
    }
</style>