<template>
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
         width="1024.000000pt" height="1024.000000pt" viewBox="0 0 1024.000000 1024.000000"
         preserveAspectRatio="xMidYMid meet">
        <metadata>
            Created by potrace 1.15, written by Peter Selinger 2001-2017
        </metadata>
        <g transform="translate(0.000000,1024.000000) scale(0.100000,-0.100000)"
           :fill="color" stroke="none">
            <path d="M4640 9709 c-41 -5 -120 -14 -175 -20 -55 -6 -138 -18 -185 -26 -47
-8 -107 -18 -135 -22 -27 -5 -93 -18 -145 -30 -722 -166 -1368 -485 -1935
-955 -151 -125 -483 -457 -596 -596 -242 -298 -403 -544 -567 -867 -489 -964
-620 -2069 -371 -3133 19 -83 29 -119 72 -265 122 -420 326 -851 586 -1240
746 -1114 1984 -1867 3296 -2005 61 -6 143 -16 183 -21 96 -12 576 -12 678 0
43 6 129 15 189 21 123 13 366 52 465 76 164 38 240 58 300 76 647 197 1162
476 1700 921 116 96 415 398 526 532 317 380 553 767 732 1200 95 229 183 498
222 675 36 163 73 345 81 404 41 304 42 322 42 686 0 317 -3 387 -22 535 -61
475 -165 859 -359 1320 -47 111 -172 353 -253 488 -214 356 -420 619 -713 912
-178 178 -217 213 -439 389 -465 368 -1105 678 -1692 821 -151 36 -224 53
-265 59 -19 3 -62 10 -95 15 -75 13 -178 26 -365 46 -159 16 -629 19 -760 4z
m2625 -3153 c28 -10 69 -26 92 -37 24 -10 45 -19 48 -19 3 0 38 -15 79 -34 41
-19 107 -49 147 -66 41 -18 97 -42 124 -55 146 -67 232 -80 365 -51 82 18 112
29 130 52 8 9 30 23 48 31 47 20 92 3 141 -54 59 -67 81 -134 81 -249 0 -89 2
-101 31 -155 30 -56 49 -75 184 -193 85 -74 104 -109 111 -208 6 -76 4 -85
-16 -110 -37 -47 -69 -39 -220 56 -103 65 -290 160 -382 195 -138 51 -165 60
-196 66 -18 4 -67 32 -110 62 -84 61 -121 79 -185 92 -23 5 -77 16 -119 24
-43 9 -153 21 -245 27 -93 6 -217 14 -278 19 -192 14 -299 -10 -440 -103 -242
-158 -326 -194 -565 -240 -41 -8 -97 -17 -125 -21 -85 -10 -255 -39 -385 -66
-337 -70 -458 -117 -635 -250 -159 -118 -207 -135 -375 -132 -134 3 -155 -2
-266 -53 -259 -118 -295 -128 -459 -122 -69 2 -125 2 -125 1 0 -2 10 -23 22
-46 19 -38 58 -148 78 -222 5 -16 18 -61 30 -100 32 -104 49 -184 50 -235 0
-40 5 -50 43 -86 23 -22 64 -67 92 -99 27 -33 80 -93 118 -133 96 -103 275
-378 359 -551 39 -80 93 -179 121 -220 27 -41 62 -102 78 -137 26 -56 29 -75
29 -161 0 -119 -16 -159 -89 -231 -76 -75 -138 -97 -276 -97 -127 0 -271 17
-304 35 -13 7 -43 30 -67 52 -38 35 -44 46 -44 82 0 37 6 47 53 93 69 68 82
73 176 73 71 0 82 2 95 22 30 43 21 84 -32 141 -26 29 -73 84 -105 123 -69 86
-210 223 -264 257 -22 14 -83 72 -136 129 -53 57 -119 128 -147 158 -54 57
-116 174 -150 282 -23 71 -41 105 -99 193 -25 38 -77 132 -116 210 l-70 140
-85 62 c-47 34 -107 81 -134 105 -49 43 -151 188 -183 261 -9 20 -22 37 -28
37 -6 0 -51 -21 -100 -47 -66 -34 -102 -47 -135 -47 l-45 -1 -5 -61 c-6 -74
-45 -139 -95 -160 -29 -12 -40 -12 -74 -1 -26 10 -45 11 -56 4 -11 -6 -46 -6
-99 1 -74 10 -83 9 -102 -9 -41 -38 -75 -26 -153 56 -70 74 -72 75 -111 69
-35 -6 -49 -1 -133 50 -99 58 -164 119 -190 177 -24 52 -47 171 -47 240 0 74
33 216 65 278 13 25 53 83 90 128 88 109 140 136 269 141 84 4 98 2 176 -29
62 -24 98 -45 135 -80 71 -67 121 -86 251 -94 154 -10 181 -1 245 81 29 36 77
82 108 103 104 70 270 159 346 186 19 7 77 15 250 35 44 5 125 16 180 25 80
13 170 16 450 14 450 -3 463 0 556 122 75 98 138 143 259 182 120 39 433 51
595 22 112 -19 502 -38 593 -28 37 5 121 5 187 1 344 -21 391 -21 447 -3 29
10 85 32 123 50 61 28 146 53 235 69 58 10 266 -2 315 -18z m-289 -708 c17
-18 47 -54 67 -80 41 -52 129 -110 210 -138 48 -17 58 -17 117 -5 107 23 144
20 185 -16 54 -47 67 -88 69 -209 3 -144 31 -231 98 -308 49 -57 78 -110 84
-156 6 -40 4 -47 -21 -70 -15 -14 -34 -26 -42 -26 -44 0 -252 124 -387 232
-16 13 -45 32 -65 43 -20 11 -63 40 -95 65 -113 87 -131 99 -146 100 -9 0 -20
4 -25 8 -22 19 -175 72 -250 86 -107 20 -134 29 -227 73 -91 42 -80 44 -249
-33 -52 -24 -123 -52 -156 -63 -79 -25 -228 -51 -295 -51 -29 0 -105 -9 -168
-19 -63 -11 -153 -24 -200 -31 -47 -6 -138 -20 -202 -31 -119 -20 -249 -22
-255 -3 -7 21 129 103 239 144 90 33 241 71 423 105 44 9 103 20 130 25 28 6
100 17 160 26 218 30 337 59 442 105 24 11 45 19 48 19 8 0 178 102 251 151
69 46 167 88 210 89 11 0 34 -15 50 -32z m-2989 -951 c2 -2 21 -55 42 -118 70
-206 93 -274 105 -298 6 -13 47 -62 91 -110 79 -84 176 -214 326 -436 96 -142
135 -210 159 -280 21 -62 96 -189 160 -274 47 -62 70 -111 70 -150 0 -14 12
-44 25 -66 14 -22 25 -52 25 -66 0 -39 -40 -91 -90 -116 -59 -31 -80 -30 -80
3 0 70 -41 166 -121 284 -20 31 -71 125 -114 210 -91 185 -277 468 -378 578
-39 43 -108 118 -152 167 l-79 88 -12 86 c-12 91 -105 418 -135 473 -5 10 -9
22 -9 26 0 8 159 7 167 -1z m237 -1769 c70 -78 56 -126 -33 -112 -47 7 -78 33
-98 81 -16 39 -5 63 28 63 10 0 21 5 24 10 12 20 33 9 79 -42z"/>
        </g>
    </svg>

</template>

<script>
    export default {
        name: "logo",
        props : {
            color : {
                default : "#000000"
            }
        }
    }
</script>

<style scoped>

</style>