{% extends 'site/base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <exercise-types
            page_name="{{ page_name }}"
            :exercise_types="{{ exercise_types }}"
            :page_data = "{{ page_data }}"
    >
    </exercise-types>
{% endblock %}