{% extends 'site/base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <exercise-type
            page_name="{{ page_name }}"
            :exercise_types="{{ exercise_types }}"
    >
    </exercise-type>
{% endblock %}