<template>
    <section class="h-lg-100 overflow-hidden" :class="[className]">
        <div class="container-fluid h-lg-100">
            <div class="row h-lg-100">
                <nav-box></nav-box>
                <slot></slot>
            </div>
        </div>
    </section>
</template>

<script>
    import NavBox from "./app-nav/nav-box";
    export default {
        name: "app-page",
        components: {NavBox},
        props: {
            className : {
                default : "default"
            }
        }
    }
</script>