<template>
    <section>
        <button class="d-flex hamburger hamburger--collapse nav-hamburger px-5 py-4" type="button"
                :class="{'is-active' : isActive}" @click="setMenu(isActive)">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
        </button>
    </section>
</template>

<script>
    export default {
        name: "app-nav",
        computed : {
            isActive() {
                return this.$store.getters["base/getMenuActive"];
            }
        },
        methods : {
            setMenu(val) {
                this.$store.commit("base/setMenuActive",!val);
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "~hamburgers/dist/hamburgers.min.css";
    @import "../../../css/_colors.scss";


    .nav-hamburger {
        z-index: 5;
        position: absolute;
        right: 0px;
        top: 0px;
        &:focus {
            outline: none;
        }
        .hamburger-inner {
            background-color: $white;
            &:before {
                background-color: $white;
            }
            &:after {
                background-color: $white;
            }
        }
    }
</style>