<template>
    <section class="h-100">
        <a href="/" class="circle-link d-flex align-items-center text-center ml-3 mt-3 mr-3">
            <logo color="#151514"></logo>
        </a>
        <div class="bar"></div>
    </section>
</template>

<script>
    import Logo from "../svg/logo";
    export default {
        name: "app-logo",
        components: {Logo}
    }
</script>

<style lang = "scss" scoped>
    @import "../../../css/colors";

    .circle-link {
        &:hover {
            width:100px;
            height:100px;
        }
    }
    section {
        height:100%;
        position:absolute;
        overflow:hidden;
        z-index:2;
        .bar {
            height:100%;
            width:3px;
            background-color:$dark-grey;
            position:absolute;
            content : " ";
            left:50%;
            transform:translateX(-50%);
            box-shadow:0px 0px 1px 0px $white;
        }
    }
</style>