<template>
    <div class="wrapper w-100 h-100">
        <ul class="bg-bubbles h-100">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "background-effect"
    }
</script>

<style lang="scss" scoped>
    @import "../../../css/colors";

    .wrapper {
        position: absolute;
        top:0;
        margin-left:-15px;
        color: $dark-red;
        width:100%;
    }

    .bg-bubbles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    .bg-bubbles li {
        position:absolute;
        top:100%;
        list-style: none;
        display: block;
        width: 40px;
        height: 40px;
        background-color: rgba(21, 21, 20, 1);
        -webkit-animation: square 25s infinite;
        animation: square 25s infinite;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        border:0px;
    }
    .bg-bubbles li:nth-child(1) {
        left: 10%;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        -webkit-animation-duration: 14s;
        -webkit-animation-duration: 14s;
    }
    .bg-bubbles li:nth-child(2) {
        left: 20%;
        width: 80px;
        height: 80px;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        -webkit-animation-duration: 17s;
        animation-duration: 17s;
        background-color: rgba(66, 16, 17, 1);
    }
    .bg-bubbles li:nth-child(3) {
        left: 25%;
        -webkit-animation-delay: 4s;
        animation-delay: 4s;
        background-color: rgba(66, 16, 17, 1);
    }
    .bg-bubbles li:nth-child(4) {
        left: 40%;
        width: 60px;
        height: 60px;
        -webkit-animation-duration: 22s;
        animation-duration: 22s;
        background-color: rgba(21, 21, 20, 1);
    }
    .bg-bubbles li:nth-child(5) {
        left: 70%;
    }
    .bg-bubbles li:nth-child(6) {
        left: 80%;
        width: 120px;
        height: 120px;
        -webkit-animation-delay: 3s;
        animation-delay: 3s;
        background-color: rgba(66, 16, 17, 1);
    }
    .bg-bubbles li:nth-child(7) {
        left: 32%;
        width: 160px;
        height: 160px;
        -webkit-animation-delay: 7s;
        animation-delay: 7s;
    }
    .bg-bubbles li:nth-child(8) {
        left: 55%;
        width: 20px;
        height: 20px;
        -webkit-animation-delay: 15s;
        animation-delay: 15s;
        -webkit-animation-duration: 40s;
        animation-duration: 40s;
    }
    .bg-bubbles li:nth-child(9) {
        left: 25%;
        width: 10px;
        height: 10px;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        -webkit-animation-duration: 40s;
        animation-duration: 40s;
        background-color: rgba(21, 21, 20, 1);
    }
    .bg-bubbles li:nth-child(10) {
        left: 90%;
        width: 160px;
        height: 160px;
        -webkit-animation-delay: 11s;
        animation-delay: 11s;
    }
    .bg-bubbles li:nth-child(11) {
        left: 25%;
        width: 10px;
        height: 10px;
        -webkit-animation-delay: 0s;
        animation-delay: 2s;
        -webkit-animation-duration: 40s;
        animation-duration: 40s;
        background-color: rgba(66, 16, 17, 1);
    }
    @-webkit-keyframes square {
        0% {
            top:100%;
            transform:translateY(0%);
        }
        100% {
            -webkit-transform:translateY(-200%) rotate(600deg);
            transform:translateY(-200%) rotate(600deg);
            top:0%;
        }
    }
    @keyframes square {
        0% {
            top:100%;
            transform:translateY(0%);
        }
        100% {
            -webkit-transform:translateY(-200%) rotate(600deg);
            transform:translateY(-200%) rotate(600deg);
            top:0%;
        }
    }
</style>