<template>
    <div class="left-box col-lg-8 f-c-white h-100" :class="{
    'y-scroll' : scroll
}">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: "left-box",
        props: {
            scroll: {
                default: false
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../css/colors";

    .left-box {
        &.y-scroll {
            overflow-y:scroll;
        }
        &::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: $white;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $red;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $dark-red;
        }
    }
</style>