<template>
    <div class="col-lg-4 h-lg-100">
        <div class="row h-lg-100">
            <div ref="tilt" data-tilt-reverse="true" class="col-lg-12 right-box h-lg-100 px-5 py-4 h-100">
                <app-nav></app-nav>
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    import AppNav from "./app-nav";
    import VanillaTilt from "vanilla-tilt";

    export default {
        name: "right-box",
        components: {AppNav},
        mounted() {
            if(window.innerWidth > 992)
                VanillaTilt.init(this.$refs.tilt, {max: 25, speed: 400});
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../css/colors";

    .right-box {
        background-color : $dark-grey;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 3;
        border-left:5px solid $grey;
        box-shadow: 0px 1px 30px 0px #151514;
        &::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: $white;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $red;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $dark-red;
        }
    }
</style>