{% extends 'admin/base.html.twig' %}

{% block title %}Admin - {{ page_name }}{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ page_name }}<br/>
            <small style="padding-left:0px">Dodawanie nowego ćwiczenia</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Formularz dodawania ćwiczenia</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            {{ form_start(form, {attr: {class: 'my-form-class'} }) }}
                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nazwa typu ćwiczenia</label>
                        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Opis ćwiczenia</label>
                        {{ form_widget(form.description, { 'attr': {'class': 'form-control textarea'} }) }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Jakich części ciała dotyczy ćwiczenie</label>
                        {{ form_widget(form.parts_description, { 'attr': {'class': 'form-control textarea'} }) }}
                    </div>
                    <div class="form-group" id="photos">
                        <label for="exampleInputFile">Zdjęcie Ćwiczenia</label>
                        {{ form_widget(form.photo.name) }}
                        {{ form_widget(form.photo.file, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}