{% extends 'admin/base.html.twig' %}

{% block title %}Admin - {{ page_name }}{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ page_name }}<br/>
            <small style="padding-left:0px">Edycja ćwiczenia</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Formularz edycji ćwiczenia</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            {{ form_start(form, {attr: {class: 'my-form-class'} }) }}
            <div class="box-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nazwa ćwiczenia</label>
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Opis ćwiczenia</label>
                    {{ form_widget(form.text, { 'attr': {'class': 'form-control textarea'} }) }}
                </div>
                <div class="form-group">
                    <label>Który to krok</label>
                    {{ form_widget(form.step, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    <label>Opis progu przejścia</label>
                    {{ form_widget(form.threshold, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    <label>Typ Ćwiczenia</label>
                    {{ form_widget(form.exerciseType, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group" id="photos">
                    <label for="exampleInputFile">Ćwiczenia</label>
                    {{ form_label(form.photos) }}
                    {{ form_errors(form.photos) }}
                    <div class="row">
                        {% for photo in form.photos %}
                            {% if photo.vars.value is not null %}
                                <div class="col-lg-3">
                                    {{ form_widget(photo.name) }}
                                    {{ form_widget(photo.file, { 'attr': {'class': 'hidden'} }) }}
                                    <img src="/uploads/{{ photo.vars.value.name }}" class="img-responsive"/>
                                    <button type="button" class="btn btn-danger removeParent"
                                            style="margin-top:15px;width:100%;">Usuń zdjęcie
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <ul id="photo-fields-list"
                        data-prototype="{{ form_widget(form.photos.vars.prototype)|e }}"
                        data-widget-tags="{{ '<li></li>'|e }}"
                        data-photos-list>
                        {% for photo in form.photos %}
                            <li style="display:none;">
                                {{ form_errors(photo) }}
                                {{ form_widget(photo) }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-default add-another-collection-widget" id="addNew" data-list="#email-fields-list">Dodaj nowe zdjęcie</button>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
    <!-- /.content -->
    <!-- /.content-wrapper -->
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            $.each($(".removeParent"),function() {
                $(this).on("click",function(event){
                   event.preventDefault();
                   $(this).parent().remove();
                });
            });
            jQuery('.add-another-collection-widget').click(function (e) {
                var list = $("*[data-photos-list]");
                // Try to find the counter of the list or use the length of the list
                var counter = list.data('widget-counter') | list.children().length;

                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data('widget-counter', counter);

                // create a new list element and add it to the list
                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);
            });
        });
    </script>

{% endblock %}