{% extends 'admin/base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ page_name }}
            <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Lista ćwiczeń</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Nazwa ćwiczenia</th>
                        <th>Próg przejścia</th>
                        <th>Krok</th>
                        <th>Typ ćwiczenia</th>
                        <th style="width: 40px">Akcja</th>
                    </tr>
                    {% for exercise in exercises %}
                        <tr>
                            <td>{{ exercise.id }}</td>
                            <td>{{ exercise.name }}</td>
                            <td>{{ exercise.threshold }}</td>
                            <td>{{ exercise.step}}</td>
                            <td>{{ exercise.exerciseType.name }}</td>
                            <td>
                                <a href="{{ path('admin_exercise_update', {'id': exercise.id}) }}" class="btn btn-outline-warning">Edytuj</a>
                                <a href="{{ path('admin_exercise_delete', {'id': exercise.id}) }}" class="btn btn-danger">Usuń</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>

    </section>
    <!-- /.content -->
    <!-- /.content-wrapper -->
{% endblock %}