{% extends 'site/base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <exercise
            page_name="{{ page_name }}"
            :exercise="{{ exercise }}"
    >
    </exercise>
{% endblock %}