{% extends 'admin/base.html.twig' %}

{% block title %}Admin - {{ page_name }}{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ page_name }}<br/>
            <small style="padding-left:0px">Dodawanie nowej strony</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Formularz dodawania strony</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            {{ form_start(form, {attr: {class: 'my-form-class'} }) }}
                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nazwa strony</label>
                        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Slug</label>
                        {{ form_widget(form.slug, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Opis ćwiczenia</label>
                        {{ form_widget(form.text, { 'attr': {'class': 'form-control textarea'} }) }}
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}